@import "@/styles/variables/index.scss";
.form {
  display: flex;
  flex-direction: column;
  gap: $space-020;
  overflow: hidden;
 
  .links {
    @include font-token(font-2-l);
    font-size: 0.8rem;
    a {
      color: $grl01;
      display: block;
      margin-top: 0.5rem;
      text-decoration: none;
    }
  }
  .enter{
    margin: $space-024 0 0 0;
    width: 35%;
  }
  .register{
    background: #F66763;
    padding: $space-008 $space-016;
    color: $grl01;
  }
 
}
