@import "../../styles/variables/index.scss" ;

.layoutWrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.mainContent {
  flex: 1;
  padding: 1rem;
  transition: margin-left 0.3s ease;
}
.toggleButton {
  background: none;
  border: none;
  cursor: pointer;
  margin: 1rem;
  color: $grl02;
}
