@import "../../styles/variables/index.scss";

.header {
  background: $grl01;
  color: $bl10;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  font: $font-1-t-xxl;
  color: $bl11;
  text-decoration: none;
  // font-weight: 500;
  text-transform: uppercase;
}

.login {
  color: $bl09;
  display: flex;
  align-items: center;
}

.login::after {
  content: "";
  width: 14px;
  height: 17px;
  background: url("/assets/usuario.svg") no-repeat center center;
  margin-left: 0.5rem;
  position: relative;
  top: -1px;
}

.logged {
  display: flex;
  align-items: center;
  gap: 1rem;

  .welcome {
    font-size: 0.875rem;
  }

  .menu {
    list-style: none;
    display: flex;
    gap: 1rem;

    li a {
      color: $bl09;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
