@import "../../../styles/variables/index.scss";

.searchbar {
  display: flex;
  align-items: center;
  background-color: $bl08; // azul escuro
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  color: $grl02;
  width: 100%;
  // max-width: 500px;
}

.icon {
  margin-right: 0.75rem;
  width: 1.25rem;
  height: 1.25rem;
  color: #fb1;
  margin: 0.5rem;
}

.input {
  background: $grl01;
  margin: 0.5rem 0;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: 0.025rem solid #fb1;
  outline: none;
  color: $bl07;
  font: $font-2-s;
  font-size: 1rem;
  width: 100%;
  max-width: 70%;

  &::placeholder {
    color: $bl05;
    opacity: 0.8;
  }
}
.button {
  margin: 0 0 0 0.25rem;
  padding: 0.4rem;
  background-color: $bl11;
  border-radius: 0.25rem;
  color: #fb1;
}
