@import "../../styles/variables/index.scss";

.wrapper {
  border: 0.024rem solid #fb1;
  overflow-x: auto;
}
.actionbar {
  display: flex;
  @include font-token(font-1-m);
  align-items: center;
  gap: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 1rem 0 1rem 4rem;
  background: $bl07;

  color: $grl01;
}
.actionInput {
  @include font-token(font-1-s);
  width: 20rem;
  padding: 0.5rem 0.75rem;
  border: 0.06rem solid #fb1;
  border-radius: 0.5rem;
  background: $grl01;
  color: $bl10;
}
.actionButton {
  color: $grl01;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  background-color: $bl10;
  cursor: pointer;
}
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: $grl02;

  th,
  td {
    @include font-token(font-2-s);
    padding: 0.75rem;
    border-bottom: 1px solid #fb1;
    text-align: left;
    color: $bl11;
  }
  .headerCell {
    @include font-token(font-1-l);
    background-color: $bl06;
    padding: 1rem;
    color: $grl02;
    color: #fb1;
  }
  .checkboxCol {
    width: 3rem;
    text-align: center;
    background-color: $bl06;
  }

  thead {
    background-color: $bl08;
    color: #fb1;
  }
  tbody .row {
    background: $grl02;
    transition: background 0.2s ease-in-out;
  }

  tbody tr:hover {
    background-color: $grl01;
  }
  .cell {
    @include font-token(font-2-s);
    padding: 0.8rem 1rem;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: $bl09;
}

.selectedInfo {
  @include font-token(font-1-m);
  color: #fb1;
}

.pagination {
  display: flex;
  gap: 0.5rem;
}

.pageButton {
  @include font-token(font-1-m);
  padding: 0.3rem 0.6rem;
  border: 0.025rem solid #fb1;
  background: white;
  cursor: pointer;
  border-radius: 0.25rem;
}

.activePage {
  background: $gr01;
  color: white;
  font-weight: bold;
  border-color: $gr04;
}
