@import "../../../styles/variables/index.scss";

.sidebar {
  @include font-token(font-2-s);
  position: relative;
  border-end-end-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  top: 6.6rem;
  left: 0;
  min-width: max-content;
  max-width: 360px;
  background-color: $grl01;
  color: $grl02;

  overflow-y: auto;
}

.section {
  margin-bottom: 1rem;
}

.sectionTitle {
  display: flex;
  text-align: center;
  align-content: center;
  font: $font-2-s;
  color: #fb1;
  padding: 1.5rem 1rem;
  background: $bl08;
}

.linkList {
  list-style: none;
  background: $grl02;
}

.linkItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.5rem;
  transition: background 0.2s;
  border: 0.004rem solid #fb1;
}

.link {
  color: $bl11;
  text-decoration: none;
  font-size: 0.9rem;

  &:hover {
    text-decoration: underline;
  }
}

.actions {
  display: flex;
  gap: 1rem;

  a {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    color: $bl09;
    font-size: 0.8rem;
    text-decoration: none;
    text-transform: lowercase;

    &:hover {
      color: $gr02;
      text-decoration: underline;
    }

    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}
.collapsed {
  width: 0 !important;
  overflow: hidden;
  padding: 0;
  border: none;
}

.toggleButton {
  position: absolute;
  top: 1.5rem;
  right: 0.3rem;
  background: $bl01;
  border: 1px solid #fb1;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.toggleCollapsedButton {
  position: absolute;
  top: 11rem;
  left: 0;
  background: $bl02;
  border: 1px solid #fb1;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}
.sidebarFooter {
  @include font-token(font-2-m);
  padding: 1.5rem;
  border-top: 0.025rem solid rgba(255, 255, 255, 0.1);
  border-bottom-right-radius: 0.5rem;
  text-align: center;
  color: $grl02;
  background: $bl09;
}

.footerText {
  opacity: 0.6;
}
